@tailwind base;
@tailwind components;
@tailwind utilities;

/*.transparent-pink-bg {background-color: #ffc0cb1a;} */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


/* custom css */

.container{
  @apply md:max-w-[1024px] max-w-[600px] px-4 md:px-0 m-auto
}
/* .logo{
  @apply font-urbanist font-black text-2xl
} */
.cart-icon{
  @apply relative text-[25px]
}
.cart-item-qty{
  @apply absolute text-[12px] top-0 right-[-5px] bg-[rgba(241,103,174)] w-[18px] h-[18px] rounded-3xl text-center text-white font-black
}

/* NEW PRODUCT DETAILS STARTS */
.product-details-section{
  @apply md:py-16;
}

.product-details-container{
  @apply gap-8 md:max-w-[1024px] m-auto max-w-[600px] px-4 md:px-0  grid md:grid-cols-2 grid-cols-1 ;
}

.quantity-desc{
  @apply p-[6px] flex border border-black ;
}

.quantity-desc span{
  @apply text-[16px] cursor-pointer;
  padding: 6px 12px;
}

.quantity-desc .num{
  @apply text-[20px];
}

.quantity-desc .plus{
 color: rgb(49, 168, 49);
}

.quantity-desc .minus{
  color: red;
}

.btn{
  @apply md:w-1/2 p-5 text-xl font-bold w-full bg-pink-500 text-white rounded-lg hover:bg-pink-600;
}

/* NEW PRODUCT DETAILS ENDS */

/* CART STARTS */

.cart-wrapper{
  @apply w-[100vw] bg-black bg-opacity-50  fixed right-0 top-0 z-10;
}

.bg-cart{
  @apply absolute top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]
}

.cart-container{
  @apply border h-[100vh]  w-[600px] float-right px-[40px] py-[50px] relative;
}

.cart-heading{
  @apply  flex items-center text-[18px] font-[500] cursor-pointer gap-[2px] ml-[10px] border-none bg-[transparent];
}

.cart-heading .heading{
  margin-left: 10px;
}

.cart-num-items{
  margin-left: 10px;
  color: #f02d34;
}

.product-container{
  @apply mt-[15px] overflow-auto max-h-[70vh] px-[20px] py-[10px];
}

.empty-cart{
  margin:40px;
  text-align:center;
}

.empty-cart h3{
  font-weight: 600;
  font-size: 20px;
}

/* .btn{
  width: 100%;
   max-width: 400px;
   padding: 10px 12px;
   border-radius: 15px;
   border: none;
   font-size: 20px;
   margin-top: 10px;
   margin-top: 40px;
   text-transform: uppercase;
   background-color: #f02d34;
   color: #fff;
   cursor: pointer;
   transform: scale(1, 1);
   transition: transform 0.5s ease;
 }  */
 
 /* .btn:hover{
   transform: scale(1.1,1.1);
 } */

.product{ 
  @apply flex gap-[15px] p-[20px];
}

.product .cart-product-image{
  @apply  w-[180px] h-[150px] rounded-[15px] bg-[#ebebeb];
}

.item-desc .flex{
  display: flex;
  justify-content: space-between;
  color: #324d67;
}

.item-desc .bottom{
  margin-top: 25px;
}

.top{
  flex-wrap: wrap;
  gap: 10px;
}

.flex h5{
  font-size: 24px;
}

.flex h4{
  font-size: 20px;
}

.quantity-desc{
  padding: 3px;
  display:flex;
  border:1px solid black;
  align-items: center;
}
.quantity-desc span{
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
}

.quantity-desc .num{
   font-size: 20px;
}

.quantity-desc .plus{
  color: rgb(49, 168, 49);
}

.remove-item{
  font-size: 24px;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}

.cart-bottom{
  position: absolute;
  bottom: 12px;
  right: 5px;
  width: 100%;
  padding: 30px 65px;
}
.total {
  @apply flex w-full justify-between py-3;
}

.total h3{
  font-size: 22px;
}

.btn-container{
  margin: auto;
} 

.checkout-btn{
  @apply  text-white p-5 text-xl font-bold w-full bg-pink-500;
}

.checkout-btn:hover{
  @apply  text-white p-5 text-xl font-bold w-full bg-pink-600 ;
}

/* CART ENDS */